<h1>groups#index</h1>
<%= link_to "新しくグループを作成", new_group_path %>
<p>※所属するグループを選んで詳細へ</p>
<% @groups.each do |group| %>
  <table>
    <tr>
      <td>グループ名：<%= group.name %></td>
    </tr>
    <tr>
      <% if group.icon.blank? %>
        <td><%= image_tag 'icon.png', width:'30px', height:'30px', alt: 'No image' %></td>
      <% else %>
      <td><%=image_tag group.icon.url %></td>
      <% end %>
      <td>管理者：<%= group.owner.name %></td>
      <td>
        <%= link_to "詳細", group_path(group.id) %>
        <% if current_user == group.owner %>
        <%= link_to "編集", edit_group_path(group.id) %>
        <%= link_to '削除', group_path(group.id), method: :delete %>
        <% end %>
      </td>
    </tr>

  </table>
<% end %>
