<h1>Users#show</h1>
<div>
  <p>ユーザープロフィール</p>
  <%= link_to "プロフィールの編集", edit_user_registration_path(@user.id) %>
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p>アイコン : <%= image_tag @user.icon.url %></p>
</div>

<% if @user.groups.blank? %>
  <p>所属グループがありません、グループを作成してください</p>
  <%= link_to "グループの作成", new_group_path %>
<% else %>
  <div>
    <h3>所属しているグループ</h3>
    <% @user.groups.each do |group| %>
    <table>
      <tr>
        <% unless group.icon_url.blank? %>
          <td><%= image_tag group.icon_url, size: '40x40' %></td>
        <% end %>
        <td><%= link_to "#{group.name}", group_path(group.id) %></td>
      </tr>
    </table>
    <% end %>
  </div>
<% end %>
