<%= form_with(model: [:pet, @wrap], local: true) do |f| %>
  <%= f.fields_for :excretions do |excretion| %>
    <div class="field">
      <%= excretion.label :start_time %><br>
      <%= excretion.time_field :start_time %>
    </div>
    <div class="field">
      <%= excretion.label :shape %><br>
      <%= excretion.text_field :shape %>
    </div>
    <div class="field">
      <%= excretion.label :amount %><br>
      <%= excretion.text_field :amount %><br>
    </div>
    <div class="field">
      <%= excretion.label :smell %><br>
      <%= excretion.text_field :smell %><br>
    </div>
    <div class="field">
      <%= excretion.label :memo %><br>
      <%= excretion.text_field :memo %><br>
    </div>
    <%= f.submit '登録する' %>
  <% end %>
<% end %>
