<%= form_with(model: [:pet, @wrap], local: true) do |f| %>
<% if @wrap.errors.any? %>
  <div id="error_explanation">
    <h2><%= @wrap.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @wrap.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="form-group">
    <%= f.label :precaution_title %>
    <%= f.text_field :precaution_title, placeholder: "変更タイトル" %>
  </div>
  <div class="form-group">
    <%= f.label :precaution_content %>
    <%= f.text_field :precaution_content, placeholder: "変更コンテンツ" %>
  </div>
  <div class="form-group">
    <%= f.label :date_record %>
    <%= f.date_field :date_record %>
  </div>



  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-condition-tab" data-toggle="pill" href="#pills-condition" role="tab" aria-controls="pills-condition" aria-selected="true">condition</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-meal-tab" data-toggle="pill" href="#pills-meal" role="tab" aria-controls="pills-meal" aria-selected="false">meal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-excretion-tab" data-toggle="pill" href="#pills-excretion" role="tab" aria-controls="pills-excretion" aria-selected="false">excretion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-medicine-tab" data-toggle="pill" href="#pills-medicine" role="tab" aria-controls="pills-medicine" aria-selected="false">medicine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-walk-tab" data-toggle="pill" href="#pills-walk" role="tab" aria-controls="pills-walk" aria-selected="false">walk</a>
  </li>
</ul>
<!-- タブ-content -->
<div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-condition" role="tabpanel" aria-labelledby="pills-condition-tab">
          <h2>condition</h2>
          <%= f.fields_for :conditions do |condition| %>
            <div class="form-group">
              <%= condition.label :start_time %><br>
              <%= condition.time_field :start_time %>
            </div>
            <div class="form-group">
              <%= condition.label :weight %><br>
              <%= condition.number_field :weight, step: "0.1" %>
            </div>
            <div class="form-group">
              <%= condition.label :temperature %><br>
              <%= condition.number_field :temperature, step: "0.1" %><br>
            </div>
            <div class="form-group">
              <%= condition.label :memo %><br>
              <%= condition.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="form-group">
                <%= condition.label :_destroy %>
                <%= condition.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-meal" role="tabpanel" aria-labelledby="pills-meal-tab">
          <h2>meal</h2>
          <%= f.fields_for :meals do |meal| %>
            <div class="form-group">
              <%= meal.label :start_time %><br>
              <%= meal.time_field :start_time %>
            </div>
            <div class="form-group">
              <%= meal.label :shape %><br>
              <%= meal.text_field :shape %>
            </div>
            <div class="form-group">
              <%= meal.label :amount %><br>
              <%= meal.text_field :amount %><br>
            </div>
            <div class="form-group">
              <%= meal.label :memo %><br>
              <%= meal.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="form-group">
                <%= meal.label :_destroy %>
                <%= meal.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-excretion" role="tabpanel" aria-labelledby="pills-excretion-tab">
          <h2>excretion</h2>
          <%= f.fields_for :excretions do |excretion| %>
            <div class="form-group">
              <%= excretion.label :start_time %><br>
              <%= excretion.time_field :start_time %>
            </div>
            <div class="form-group">
              <%= excretion.label :shape %><br>
              <%= excretion.text_field :shape %>
            </div>
            <div class="form-group">
              <%= excretion.label :amount %><br>
              <%= excretion.text_field :amount %><br>
            </div>
            <div class="form-group">
              <%= excretion.label :smell %><br>
              <%= excretion.text_field :smell %><br>
            </div>
            <div class="form-group">
              <%= excretion.label :memo %><br>
              <%= excretion.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="form-group">
                <%= excretion.label :_destroy %>
                <%= excretion.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-medicine" role="tabpanel" aria-labelledby="pills-medicine-tab">
          <h2>medicine</h2>
          <%= f.fields_for :medicines do |medicine| %>
            <div class="form-group">
              <%= medicine.label :start_time %><br>
              <%= medicine.time_field :start_time %>
            </div>
            <div class="form-group">
              <%= medicine.label :shape %><br>
              <%= medicine.text_field :shape %>
            </div>
            <div class="form-group">
              <%= medicine.label :memo %><br>
              <%= medicine.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="form-group">
                <%= medicine.label :_destroy %>
                <%= medicine.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="tab-pane fade" id="pills-walk" role="tabpanel" aria-labelledby="pills-walk-tab">
          <h2>walk</h2>
          <%= f.fields_for :walks do |walk| %>
            <div class="form-group">
              <%= walk.label :start_time %><br>
              <%= walk.time_field :start_time %>
            </div>
            <div class="form-group">
              <%= walk.label :how_many %><br>
              <%= walk.text_field :how_many %>
            </div>
            <div class="form-group">
              <%= walk.label :memo %><br>
              <%= walk.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="form-group">
                <%= walk.label :_destroy %>
                <%= walk.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>
</div>
<!-- タブ -->

<br>
<div>
  <%= f.submit '登録する' %>
</div>

<% end %>
<%= link_to "記録一覧画面（wrap#index)", pet_wraps_path(params[:pet_id]) %>
