<%= form_with(model: [:pet, @wrap], local: true) do |f| %>
<% if @wrap.errors.any? %>
  <div id="error_explanation">
    <h2><%= @wrap.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @wrap.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= f.label :precaution_title %>
    <%= f.text_field :precaution_title, placeholder: "変更タイトル" %>
  </div>
  <div class="field">
    <%= f.label :precaution_content %>
    <%= f.text_field :precaution_content, placeholder: "変更コンテンツ" %>
  </div>
  <div class="field">
    <%= f.label :date_record %>
    <%= f.date_field :date_record %>
  </div>

    <div>
          <%= f.fields_for :conditions do |condition| %>
            <div class="field">
              <%= condition.label :start_time %><br>
              <%= condition.time_field :start_time %>
            </div>
            <div class="field">
              <%= condition.label :weight %><br>
              <%= condition.number_field :weight, step: "0.1" %>
            </div>
            <div class="field">
              <%= condition.label :temperature %><br>
              <%= condition.number_field :temperature, step: "0.1" %><br>
            </div>
            <div class="field">
              <%= condition.label :memo %><br>
              <%= condition.text_field :memo %><br>
            </div>
            <% if @wrap.persisted? %>
              <div class="field">
                <%= f.label :_destroy %>
                <%= f.check_box :_destroy %>
              </div>
            <% end %>
          <% end %>
        </div>


<br>
<div>
  <%= f.submit '登録する' %>
</div>
  </div>

<% end %>
<%= link_to "記録一覧画面（wrap#index)", pet_wraps_path(params[:pet_id]) %>
