<%= form_with(model: [:pet, @wrap], local: true) do |f| %>
  <%= f.fields_for :meals do |meal| %>
    <div class="field">
      <%= meal.label :start_time %><br>
      <%= meal.time_field :start_time %>
    </div>
    <div class="field">
      <%= meal.label :shape %><br>
      <%= meal.text_field :shape %>
    </div>
    <div class="field">
      <%= meal.label :amount %><br>
      <%= meal.text_field :amount %><br>
    </div>
    <div class="field">
      <%= meal.label :memo %><br>
      <%= meal.text_field :memo %><br>
    </div>
    <%= f.submit '登録する' %>
  <% end %>
<% end %>
