<h1>Wraps#index</h1>
<%= link_to "日付登録する", new_pet_wrap_path %>
<% @wraps.each do |wrap| %>

<div class="index_table">

  <table>
    <tr>
      <h3><%= l wrap.date_record, format: :long %>の記録</h3>
        <%= link_to "詳細", pet_wrap_path(wrap.pet_id, wrap.id) %>
        <%= link_to "編集", edit_pet_wrap_path(wrap.pet_id, wrap.id) %>
        <%= link_to '削除', pet_wrap_path(wrap.pet_id, wrap.id), method: :delete %>
    </tr>
    <% if wrap.precaution_title.present? %>
    <tr>
      <th><%= t("activerecord.attributes.wrap.precaution_title") %></th>
      <td><%= wrap.precaution_title %></td>
    </tr>
    <% end %>
    <% if wrap.precaution_content.present? %>
    <tr>
      <th><%= t("activerecord.attributes.wrap.precaution_content") %></th>
      <td><%= wrap.precaution_content %></td>
    </tr>
    <% end %>
    <tr>
      <th>Condition</th>
      <th>meal</th>
      <th>excretion</th>
      <th>medicine</th>
      <th>walk</th>
      <th></th>
    </tr>
    <tr>
      <td><%= wrap.conditions.length %></td>
      <td><%= wrap.meals.length %></td>
      <td><%= wrap.excretions.length %></td>
      <td><%= wrap.medicines.length %></td>
      <td><%= wrap.walks.length %></td>

    </tr>

  </table>
</div>
<% end %>
