<h2><%= t("activerecord.models.wrap") %></h2>
<br>
<%= link_to "新規登録する", new_pet_wrap_path, class: "btn btn-primary" %>
<%= link_to "うちの子詳細に戻る", pet_path(params[:pet_id]), class: "btn btn-outline-info" %>
<br><br>
<%= month_calendar events: @wraps do |date, wraps| %>
  <%= date.day %>

  <% wraps.each do |wrap| %>
    <div>
      <%= link_to "●", pet_wrap_path(wrap.pet_id, wrap.id) %>
    </div>
  <% end %>
<% end %>
<% @wraps.each do |wrap| %>
<div class="index_table">
  <table>
    <h4><%= l wrap.start_time, format: :long %>の記録</h4>
    <%= link_to "詳細", pet_wrap_path(wrap.pet_id, wrap.id), class: "btn btn-outline-info" %>
    <%= link_to "編集", edit_pet_wrap_path(wrap.pet_id, wrap.id), class: "btn btn-outline-warning" %>
    <%= link_to '削除', pet_wrap_path(wrap.pet_id, wrap.id), method: :delete, class: "btn btn-outline-danger" %>
    <% if wrap.precaution_title.present? %>
    <tr>
      <th><%= t("activerecord.attributes.wrap.precaution_title") %></th>
      <td colspan="4"><%= wrap.precaution_title %></td>
    </tr>
    <% end %>
    <% if wrap.precaution_content.present? %>
    <tr>
      <th><%= t("activerecord.attributes.wrap.precaution_content") %></th>
      <td colspan="4"><%= wrap.precaution_content %></td>
    </tr>
    <% end %>
    <hr>
    <tr>
      <th><%= t("activerecord.models.condition") %></th>
      <th><%= t("activerecord.models.meal") %></th>
      <th><%= t("activerecord.models.excretion") %></th>
      <th><%= t("activerecord.models.medicine") %></th>
      <th><%= t("activerecord.models.walk") %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= wrap.conditions.length %></td>
      <td><%= wrap.meals.length %></td>
      <td><%= wrap.excretions.length %></td>
      <td><%= wrap.medicines.length %></td>
      <td><%= wrap.walks.length %></td>
    </tr>
  </table>
</div>
<% end %>
