<h1>Wraps#add_record</h1>
<%= form_with(model: @wrap, url: pet_wrap_add_record_path(@wrap.pet_id, @wrap.id), local: true) do |f| %>
<% if @wrap.errors.any? %>
  <div id="error_explanation">
    <h2><%= @wrap.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @wrap.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= f.label :precaution_title %>：<%= @wrap.precaution_title %>
    <%= f.hidden_field :precaution_title %>
  </div>
  <div class="field">
    <%= f.label :precaution_content %>：<%= @wrap.precaution_content %>
    <%= f.hidden_field :precaution_content %>
  </div>
  <div class="field">
    <%= f.label :date_record %>：<%= l @wrap.date_record %>
    <%= f.hidden_field :date_record %>
  </div>
  <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">condition</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">meal</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">excretion</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">medicine</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">walk</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
  </p>
  <div class="row">

    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <%= f.fields_for :conditions do |condition| %>
            <div class="field">
              <%= condition.label :start_time %><br>
              <%= condition.time_field :start_time %>
            </div>
            <div class="field">
              <%= condition.label :weight %><br>
              <%= condition.number_field :weight, step: "0.1" %>
            </div>
            <div class="field">
              <%= condition.label :temperature %><br>
              <%= condition.number_field :temperature, step: "0.1" %><br>
            </div>
            <div class="field">
              <%= condition.label :memo %><br>
              <%= condition.text_field :memo %><br>
            </div>
            <%= f.submit '登録する' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <%= f.fields_for :meals do |meal| %>
            <div class="field">
              <%= meal.label :start_time %><br>
              <%= meal.time_field :start_time %>
            </div>
            <div class="field">
              <%= meal.label :shape %><br>
              <%= meal.text_field :shape %>
            </div>
            <div class="field">
              <%= meal.label :amount %><br>
              <%= meal.text_field :amount %><br>
            </div>
            <div class="field">
              <%= meal.label :memo %><br>
              <%= meal.text_field :memo %><br>
            </div>
            <%= f.submit '登録する' %>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
          <%= f.fields_for :excretions do |excretion| %>
            <div class="field">
              <%= excretion.label :start_time %><br>
              <%= excretion.time_field :start_time %>
            </div>
            <div class="field">
              <%= excretion.label :shape %><br>
              <%= excretion.text_field :shape %>
            </div>
            <div class="field">
              <%= excretion.label :amount %><br>
              <%= excretion.text_field :amount %><br>
            </div>
            <div class="field">
              <%= excretion.label :smell %><br>
              <%= excretion.text_field :smell %><br>
            </div>
            <div class="field">
              <%= excretion.label :memo %><br>
              <%= excretion.text_field :memo %><br>
            </div>
            <%= f.submit '登録する' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample4">
        <div class="card card-body">
          <%= f.fields_for :medicines do |medicine| %>
            <div class="field">
              <%= medicine.label :start_time %><br>
              <%= medicine.time_field :start_time %>
            </div>
            <div class="field">
              <%= medicine.label :shape %><br>
              <%= medicine.text_field :shape %>
            </div>
            <div class="field">
              <%= medicine.label :memo %><br>
              <%= medicine.text_field :memo %><br>
            </div>
            <%= f.submit '登録する' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample5">
        <div class="card card-body">
          <%= f.fields_for :walks do |walk| %>
            <div class="field">
              <%= walk.label :start_time %><br>
              <%= walk.time_field :start_time %>
            </div>
            <div class="field">
              <%= walk.label :how_many %><br>
              <%= walk.text_field :how_many %>
            </div>
            <div class="field">
              <%= walk.label :memo %><br>
              <%= walk.text_field :memo %><br>
            </div>
            <%= f.submit '登録する' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<% end %>
<%= link_to "一覧画面に戻る", pet_wraps_path(params[:pet_id]) %>
