<!DOCTYPE html>
<html>
  <head>
    <title>CareDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="heder">
      <ul class="nav justify-content-center">
        <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
          <div class="dropdown-menu">
            <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item' %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">グループ</a>
          <div class="dropdown-menu">
            <%= link_to '新しくグループを作成', new_group_path %>
            <div class="dropdown-divider"></div>
            <%= link_to "#{current_user.name}のグループ一覧", groups_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <% current_user.groups.each do |group| %>
              <%= link_to "#{group.name}", group_path(group), class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path, class: 'dropdown-item' %></li>
        <% end %>
      </ul>

      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
