<!DOCTYPE html>
<html>
  <head>
    <title>CareDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Care diary</a>
        <button class="navbar-toggler" id= "top_icon" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-address-card fa-2x"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "マイページ", user_path(current_user.id), class: 'dropdown-item' %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-users fa-2x"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to '新しくグループを作成', new_group_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <p><%= "#{current_user.name.truncate(10)}のグループ" %></p>
              <% current_user.groups.each do |group| %>
                <%= link_to "#{group.name}".truncate(20), group_path(group), class: 'dropdown-item ' %>
              <% end %>
            </div>
          </li>
          <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item nav-devise' %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path, class: 'dropdown-item nav-devise' %></li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row">
        <div class="left_side d-none d-lg-block">
          <%= render 'layouts/left_side' %>
        </div>
        <div class="main col-md">
          <% if notice %>
            <p class="alert alert-notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
        <div class="right_side d-none d-lg-block">
          <%= render 'layouts/right_side' %>
        </div>
      </div>
    </div>
    <footer class="navbar-expand-lg">
      <%= image_tag 'sanpo.png', class:"navbar-expand-lg", id: "footer_decoration" %>
      <div class="footer_color">
        <%= link_to 'プライバシー・ポリシー', static_pages_about_path %><br>
        <small>Copyright &copy; Yumiko_Kamiyama All Rights Reserved. </small>
      </div>
     </footer>
  </body>
</html>
